@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Dana";
  src: url("/public/assests/fonts/dana/Dana-Regular.woff2");
}
@font-face {
  font-family: "Dana";
  font-weight: bold;
  src: url("/public/assests/fonts/dana/Dana-Bold.woff2");
}
@font-face {
  font-family: "Dana";
  font-weight: 500;
  src: url("/public/assests/fonts/dana/Dana-Medium.woff2");
}
@font-face {
  font-family: "Dana";
  font-weight: lighter;
  src: url("/public/assests/fonts/dana/Dana-Light.woff2");
}
@font-face {
  font-family: "Dana";
  font-weight: lighter;
  src: url("/public/assests/fonts/dana/Dana-Light.woff2");
}
@font-face {
  font-family: "kalaam";
  font-weight: lighter;
  src: url("/public/assests/fonts/kalam/W_kalaam.ttf");
}

@layer base {
  body {
    @apply bg-[#f1f1f1];
  }
}

@layer components {
  .dir {
    direction: rtl;
  }
}
